.user-info
  .user-info__left
    =render 'shared/left_side_bar'

  .user-info__center
    .show-contents__title
      %h2
        =@user.name
    .user-profile
      .user-profile__left
        .user-picture
          = image_tag @user.picture.url 
        .user-name
          = @user.name
        .follow-links
          =link_to "フォロー#{@user.followings.count}", followings_user_path(@user)
          ="/"
          =link_to "フォロワー#{@user.followers.count}", followers_user_path(@user)
        .follow_unfollow_btn
          %div{id:"follow_btn_#{@user.id}"}
            =render 'shared/follow_btn',{ user: @user}
        .delete-btn
          -if current_user_admin?
            =link_to "アカウント削除", user_path(@user), method: :delete, data: {confirm: "削除してよろしいですか？"}
      .user-profile__right
        %p
          = simple_format @user.profile
    .menu-items
      .menu-item.active
        %div 
          %p ユーザー投稿
      .menu-item
        %div
          %p いいね一覧          
    .show-contents.show
      .user-posts
        = paginate @posts
        -@posts.each do |post|
          =render 'shared/post_list',{post: post}
        = paginate @posts
          
    .show-contents
      .user-posts
        = paginate @likes
        -@likes.each do |like|
          =render 'shared/post_list',{post: like.post}
        = paginate @likes

  .user-info__right
    =render 'shared/right_side_bar' 
  
