.user-post
  .user-post-upper
    .user-post-upper__left
      = image_tag post.user.picture.url
    .user-post-upper__right
      .post-right-top
        =link_to "#{post.user.name}", user_path(post.user)
        %p
          =post.created_at
      .post-right-bottom
        .post-bottom-item
          %p Genre：
          -post.genres.each do |genre|
            =link_to "#{genre.name}/",genre_path(genre)
        .post-bottom-item
          %p URL：
          =link_to "#{post.url}", post.url, target: :blank
  .user-post-bottom
    .post-bottom-content
      =simple_format(post.content)   
    .post-bottom-action
      =link_to  post_path(post) do
        .far.fa-comment-dots
        ="#{post.comments.count}"
      %div{id:"like-btn-#{post.id}"}
        =render partial: 'shared/like_btn',locals:{post: post}